version: "3.9"

services:
  frontend:
    build: .
    container_name: ollama-ui
    ports:
      - "5000:80"
    depends_on:
      - ollama
    restart: unless-stopped

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped

volumes:
  ollama:
