name: Deploy to Server

on:
  push:
    branches: [main, master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy to server
        run: |
          echo "Deploying to server..."
          # Add your deployment commands here
          ssh -vvv home@0.tcp.in.ngrok.io -p 16809
          echo "Deployment complete."
